<div class="alogaritmh-html">
    <style type="text/css">
        .title-subcase {
            margin-top: 10px;
        }

        .page_refero__component_group > div {
            padding-bottom: 5px;
            border-bottom: 1px solid #E1E1E1;
        }

        .output-list li {
            padding: 0px !important;
            font-size: 14px !important;
        }

        .grouped-containers {
            display: flex;
            gap: 24px;
            flex-direction: column;
        }

        .container {
            margin-bottom: unset !important;
            min-height: 200px;
            display: flex;
        }

        .container-text {
            display: flex;
            flex: 1;
        }

        .formSection {
            background: rgb(255, 255, 255) !important;
        }

        @media only screen and (max-width: 900px) {
            .grouped-containers {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media only screen and (max-width: 670px) {
            .grouped-containers {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    </style>

    {{! Header section }}
    <div class="header-title-con" style="text-align: justify; width: 100%; background-color: #fff; font-size: 20px; font-weight: 600; overflow: hidden; color: #000000; margin: 15px 0; box-shadow: 1px 2px 9px rgba(0,0,0,0.3); border-radius: 10px; padding: 100px 30px 30px 30px">
        <div style="color: #1399EC;width: 100%; margin-bottom: 20px;">
            <h2 style="font-weight: 600">
                Uitslag checkoorzakenovergewicht.nl
            </h2>
        </div>
        <div style="font-size: 19px;width:100%; font-weight: 400; color: #101011; line-height: normal">
            Deze vragenlijst is gemaakt voor mensen met overgewicht of ernstig overgewicht (obesitas).
            Het doel van het invullen van de vragenlijst is om meer inzicht te krijgen in de mogelijke
            onderliggende oorzaken van uw overgewicht. De uitslag kunt u delen met uw
            arts/zorgverlener. Dit kan uw zorgverlener helpen om de juiste diagnose te stellen en u
            daarbij van het juiste advies te voorzien.
        </div>
    </div>

    {{! Summary section }}
    <div>
        <div style="font-size: 30px; color: #0070a8; font-weight: 500; margin: 20px 0; text-align: left">
            Samenvatting
        </div>

        {{#if (getValue "bmi.isBMILow")}}
            <div style="display: block; text-align: left; font-size: 18px; margin-bottom: 10px">
                Er is wat betreft uw BMI sprake van ondergewicht. Deze vragenlijst is voor u niet van toepassing.
            </div>
        {{else if (getValue "bmi.isBMIMidium")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van een normaal gewicht <span style="font-weight: bold; margin-left: 0px; margin-right: 0px">(BMI {{getValue "bmi.value"}} kg/m<sup>2</sup>)</span>.
                Er zijn de volgende aandachtspunten waarvan bekend is dat ze het gewicht kunnen verhogen:
            </div>
        {{else if (getValue "bmi.isBMIHigh")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van <b style="font-weight: bold; margin-left: 5px; margin-right: 5px">overgewicht (BMI
                {{getValue "bmi.value"}} kg/m<sup>2</sup>)</b> met de volgende <b style="margin-left: 5px; margin-right: 5px">mogelijke</b> onderliggende oorzaken:
            </div>
        {{else if (getValue "bmi.isBMIObese")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van <b style="font-weight: bold; margin-left: 5px; margin-right: 5px">obesitas (BMI
                {{getValue "bmi.value"}} kg/m<sup>2</sup>)</b> met de volgende <b style="margin-left: 5px; margin-right: 5px">mogelijke</b> onderliggende oorzaken:
            </div>
        {{/if}}

        <ul>
            <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                {{#if (getValue "d072921e-0c09-49e7-8cd0-77cb29252632")}}
                    Hormonale oorzaken {{getValue "d072921e-0c09-49e7-8cd0-77cb29252632"}}
                {{else}}
                    Geen aanwijzingen voor hormonale oorzaken
                {{/if}}
            </li>
            <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                {{#if (getValue "2c46d10c-2a5a-4c0f-f7af-ec69afee30e7")}}
                    Medicamenteuze oorzaken: gebruik van {{getValue "2c46d10c-2a5a-4c0f-f7af-ec69afee30e7"}}
                {{else}}
                    Geen aanwijzingen voor medicamenteuze oorzaken
                {{/if}}
            </li>
            <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                {{#if (getValue "680.answer.0.valueBoolean")}}
                    Mentale en psychosociale oorzaken
                {{else}}
                    Geen aanwijzingen voor mentale en psychosociale oorzaken
                {{/if}}
            </li>
            <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                {{#if (getValue "690.answer.0.valueBoolean")}}
                    Leefstijl-gerelateerde oorzaken: op het gebied van {{getValue "690.answer.0.valueString"}}
                {{else}}
                    Geen aanwijzingen voor leefstijl-gerelateerde oorzaken
                {{/if}}
            </li>
        </ul>
    </div>

    {{! General characteristics section }}
    <div class="container">
        <div style="background-color: #B4C6E7; display: flex; align-items: center; justify-content: space-between; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">ALGEMENE KENMERKEN</span>
        </div>

        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                {{#with questionnaireResponse}}
                    {{#each item}}
                        {{#if (lookup this "text")}}
                            {{#if (lookup this "answer")}}
                                <div class="row">
                                    <div class="title-subcase">
                                        {{text}}
                                    </div>
                                </div>

                                {{#if (lookup answer.[0] "item")}}
                                    {{#each answer.[0].item}}
                                        {{#if valueBoolean}}
                                            <div class="row">
                                                <div class="title-subcase-child">
                                                    <span class="checked-icon"></span>
                                                    {{text}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/with}}
            </div>
        </div>
    </div>

    {{! Hormonal causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">HORMONALE OORZAKEN</span>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValue "calchormonaal.value")}}
                        <p>Op basis van uw antwoorden kunnen de volgende hormonale oorzaken een rol spelen bij uw overgewicht:</p>
                    {{else}}
                        <p>Op basis van uw antwoorden zijn er geen aanwijzingen voor hormonale oorzaken van overgewicht.</p>
                    {{/if}}
                </div>

                {{#if (getValue "calchormonaal.value")}}
                    {{#each (getValue "calchormonaal.item")}}
                        {{#if valueInteger}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    {{! Medication causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MEDICAMENTEUZE OORZAKEN</span>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValue "calculation5.value")}}
                        <p>Let op dat u nooit zonder overleg met uw arts iets aan uw medicatie (zoals de dosering) wijzigt.</p>
                    {{else}}
                        <p>Sommige medicijnen kunnen bijdragen aan een toename in gewicht. U heeft geen medicijnen genoteerd waarvan bekend is dat die een gewicht verhogende bijwerking kunnen hebben.</p>
                    {{/if}}
                </div>

                {{#if (getValue "calculation5.value")}}
                    {{#each (getValue "calculation5.item")}}
                        {{#if valueInteger}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    {{! Mental and psychosocial factors section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">PSYCHISCHE EN SOCIALE FACTOREN</span>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValue "calculation6.value")}}
                        <p>Psychische en sociale factoren kunnen een rol spelen bij het ontstaan van obesitas. Dit zijn factoren die u in de vragenlijst heeft aangegeven die bij u aanwezig zijn:</p>
                    {{else}}
                        <p>Op basis van uw antwoorden zijn er geen bijzonderheden op het gebied van psychische en sociale factoren bij u.</p>
                    {{/if}}
                </div>

                {{#if (getValue "calculation6.value")}}
                    {{#each (getValue "calculation6.item")}}
                        {{#if valueInteger}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    {{! Lifestyle-related causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">LEEFSTIJL-GERELATEERDE OORZAKEN</span>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValue "calculation7.value")}}
                        <p>De volgende leefstijl-gerelateerde factoren die een negatief effect kunnen hebben op uw gezondheid komen bij u uit de vragenlijst:</p>
                    {{else}}
                        <p>Op basis van uw antwoorden zijn er geen bijzonderheden op het gebied van leefstijl-gerelateerde factoren bij u.</p>
                    {{/if}}
                </div>

                {{#each (getValue "calculation7.item")}}
                    {{#if answer.0.item}}
                        <div class="title-subcase-child">
                            <p style="text-decoration: underline">{{text}}</p>
                            {{#unless valueBoolean}}
                                <div class="row" style="margin-left: 20px">
                                    {{#if (eq text "Voeding")}}
                                        <span>Er zijn op het gebied van voeding bij u geen bijzonderheden</span>
                                    {{else if (eq text "Beweging")}}
                                        <span>Er zijn op het gebied van beweging bij u geen bijzonderheden, u haalt de wekelijkse beweegnorm.</span>
                                    {{else if (eq text "Alcohol")}}
                                        <span>Er zijn op het gebied van alcohol bij u geen bijzonderheden.</span>
                                    {{/if}}
                                </div>
                            {{/unless}}
                            {{#if valueBoolean}}
                                {{#each answer.0.item}}
                                    {{#if valueBoolean}}
                                        <div class="row">
                                            <div class="title-subcase-child">
                                                <span class="checked-icon"></span>
                                                {{text}}
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                                {{#if (eq text "Voeding")}}
                                    <div style="font-weight: 400; margin: 10px 0">
                                        Meer informatie over gezonde voeding vindt u op:
                                        <a href="https://www.voedingscentrum.nl" target="_blank">www.voedingscentrum.nl</a> en de app 'Kies Ik Gezond?'
                                    </div>
                                {{else if (eq text "Beweging")}}
                                    <div style="font-weight: 400; margin: 10px 0">
                                        Meer informatie over het inbouwen van beweging in uw dagelijks beweging vindt u op:
                                        <a href="https://www.thuisarts.nl/gezond-leven" target="_blank">https://www.thuisarts.nl/gezond-leven</a>
                                    </div>
                                {{else if (eq text "Alcohol")}}
                                    <div style="font-weight: 400; margin: 10px 0">
                                        Meer informatie over het verminderen van alcoholgebruik vindt u op:
                                        <a href="https://www.allesoverdrinken.nl" target="_blank">www.allesoverdrinken.nl</a>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    {{! Possible consequences section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MOGELIJKE GEVOLGEN OVERGEWICHT</span>
        </div>
        {{#each (getValue "calculation8.item")}}
            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        {{subTitle}}
                    </div>

                    <div>
                        {{#if answer.0.item.length}}
                            {{#if valueInteger}}
                                <ul>
                                    {{#each answer.0.item}}
                                        {{#if valueInteger}}
                                            <div class="row">
                                                {{#if (eq text "Slaapapneu (OSAS)")}}
                                                    <div class="title-subcase-child">
                                                        <p style="text-decoration: underline">{{text}}</p>
                                                        <div class="row" style="margin-left: 20px">
                                                            <span>Op basis van de combinatie van uw antwoorden zou de kans op slaapapneu verhoogd kunnen zijn.</span>
                                                        </div>
                                                    </div>
                                                {{else if (eq text "Artose")}}
                                                    <div class="title-subcase-child">
                                                        <p style="text-decoration: underline">{{text}}</p>
                                                        <div class="row" style="margin-left: 20px">
                                                            <span>Uw antwoorden zouden kunnen passen bij artrose. Bij artrose is sprake van slijtage van een of meerdere gewrichten. Artrose kan een gevolg zijn van obesitas.</span>
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="title-subcase-child">
                                                        <p style="text-decoration: underline">{{text}}</p>
                                                    </div>
                                                    {{#each answer.0.item}}
                                                        <div class="row" style="margin-left: 20px">
                                                            <div class="title-subcase-child">
                                                                {{#if valueInteger}}
                                                                    <span class="checked-icon"></span>
                                                                {{else}}
                                                                    <span class="unchecked-icon"></span>
                                                                {{/if}}
                                                                {{text}}
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                {{/if}}
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                </ul>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    {{! Completed results section }}
    <h2 style="font-size: 24px; color: #1399EC; font-weight: bold; text-align: left; margin: 40px 0 8px 20px;">
        Ingevulde resultaten
    </h2>

    <div style="font-size: 18px; color: #101011; font-weight: 500; margin: 10px 0 16px 20px; text-align: left;">
        Uw <strong>deelname</strong> aan de vragenlijst wordt zeer op prijs gesteld. <strong>Bedankt!</strong>
    </div>
</div>

{{#each questionnaireResponse.item}}
    {{answer.[0].valueNumber}} - {{answer.[0].valueString}} - {{answer.[0].valueBoolean}} - {{text}} - {{@key}} - {{@index}}
    <hr>
{{/each}} 