<div class="alogaritmh-html">
    <style type="text/css">
        .title-subcase {
            margin-top: 10px;
        }

        .page_refero__component_group > div {
            padding-bottom: 5px;
            border-bottom: 1px solid #E1E1E1;
        }

        .output-list li {
            padding: 0px !important;
            font-size: 14px !important;
        }

        .grouped-containers {
            display: flex;
            gap: 24px;
            flex-direction: column;
        }

        .container {
            margin-bottom: unset !important;
            min-height: 200px;
            display: flex;
        }

        .container-text {
            display: flex;
            flex: 1;
        }

        .formSection {
            background: rgb(255, 255, 255) !important;
        }

        @media only screen and (max-width: 900px) {
            .grouped-containers {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media only screen and (max-width: 670px) {
            .grouped-containers {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    </style>

    {{! Header section }}
    <div class="header-title-con" style="text-align: justify; width: 100%; background-color: #fff; font-size: 20px; font-weight: 600; overflow: hidden; color: #000000; margin: 15px 0; box-shadow: 1px 2px 9px rgba(0,0,0,0.3); border-radius: 10px; padding: 100px 30px 30px 30px">
        <div style="color: #1399EC;width: 100%; margin-bottom: 20px;">
            <h2 style="font-weight: 600">
                Uitslag checkoorzakenovergewicht.nl
            </h2>
        </div>
        <div style="font-size: 19px;width:100%; font-weight: 400; color: #101011; line-height: normal">
            Het doel van het invullen van deze vragenlijst is om meer inzicht te krijgen in uw leefstijl.
            Dit resultaat kunt u delen met uw arts of zorgverlener. Dit kan uw zorgverlener helpen om u beter te
            adviseren en te behandelen.
        </div>
    </div>

    {{! Summary section }}
    <div>
        <div style="font-size: 30px; color: #0070a8; font-weight: 500; margin: 20px 0; text-align: left">
            Samenvatting
        </div>

        {{#if (getValue "bmi.isBMILow")}}
            <div style="display: block; text-align: left; font-size: 18px; margin-bottom: 10px">
                Er is sprake van ondergewicht
            </div>
        {{else if (getValue "bmi.isBMIMidium")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van een gezond gewicht
            </div>
        {{else if (getValue "bmi.isBMIHigh")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van overgewicht
            </div>
        {{else if (getValue "bmi.isBMIObese")}}
            <div style="display: block; text-align: left; font-size: 18px">
                Er is sprake van obesitas
            </div>
        {{/if}}

        {{#unless (getValue "bmi.isBMILow")}}
            <ul>
                {{#if (getValue "isoverwheighshow.value")}}
                    {{#if (getValue "summary.calchormonaal.value")}}
                        <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                            Hormonale oorzaken: aanwijzingen die kunnen passen bij {{getValue "summary.calchormonaal.concatenateValues"}}
                        </li>
                    {{/if}}

                    {{#if (getValue "summary.calculation5.value")}}
                        <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                            Medicamenteuze oorzaken: gebruik van {{getValue "summary.calculation5.concatenateValues"}}
                        </li>
                    {{/if}}
                {{/if}}

                {{#if (getValue "summary.calculation6.value")}}
                    <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                        Psychische of sociale oorzaken: aanwijzingen voor:
                    </li>
                {{/if}}

                {{#if (getValue "summary.calculation7.value")}}
                    <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                        Leefstijl-gerelateerde oorzaken: op het gebied van {{getValue "summary.calculation7.concatenateValues"}}
                    </li>
                {{/if}}

                {{#if (getValue "isoverwheighshow.value")}}
                    {{#if (getValue "summary.calchypothalaam.value")}}
                        <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                            Hypothalame oorzaken
                        </li>
                    {{/if}}

                    {{#if (getValue "summary.calcgenetisch.value")}}
                        <li style="font-size: 18px; padding-left: 10px; font-weight: 400">
                            Genetische oorzaken
                        </li>
                    {{/if}}
                {{/if}}
            </ul>
        {{/unless}}
    </div>

    {{! Lifestyle factors section }}
    <div class="grouped-containers">
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">LEEFSTIJL FACTOREN</span>
                <img alt="food-icon" src="./icon/icon-restaurant.png" style="width: 40px; height: 40px; margin-right: 15px"/>
            </div>

            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        <p>Een ongezonde leefstijl kan een rol spelen bij het ontstaan van obesitas. Ook kunnen leefstijl
                            factoren de kans op bepaalde ziektes verhogen. De volgende factoren die een negatief effect
                            kunnen hebben op uw gezondheid komen bij u uit de vragenlijst: </p>
                    </div>

                    {{#each (getValue "lifestyle.items")}}
                        {{#if text}}
                            <div class="title-subcase-child">
                                <p style="text-decoration: underline">{{text}}</p>
                                {{#unless valueInteger}}
                                    <div class="row" style="margin-left: 20px">
                                        {{#if (eq text "Voeding")}}
                                            <span>Er zijn op het gebied van voeding bij u geen bijzonderheden</span>
                                        {{else if (eq text "Beweging")}}
                                            <span>Er zijn op het gebied van beweging bij u geen bijzonderheden, u haalt de wekelijkse beweegnorm.</span>
                                        {{else if (eq text "Alcohol")}}
                                            <span>Er zijn op het gebied van alcohol bij u geen bijzonderheden.</span>
                                        {{/if}}
                                    </div>
                                {{/unless}}

                                {{#if valueInteger}}
                                    {{#each (getValue (concat "lifestyle." text ".items"))}}
                                        {{#if valueInteger}}
                                            <div class="row">
                                                <div class="title-subcase-child">
                                                    <span class="checked-icon"></span>
                                                    {{text}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}

                                    {{#if (eq text "Voeding")}}
                                        <div style="font-weight: 400; margin: 10px 0">
                                            Meer informatie over gezonde voeding vindt u op:
                                            <a href="https://www.voedingscentrum.nl" target="_blank">www.voedingscentrum.nl</a> en de app 'Kies Ik Gezond?'
                                        </div>
                                    {{else if (eq text "Beweging")}}
                                        <div style="font-weight: 400; margin: 10px 0">
                                            Meer informatie over het inbouwen van beweging in uw dagelijks beweging vindt u op:
                                            <a href="https://www.thuisarts.nl/gezond-leven" target="_blank">www.thuisarts.nl/gezond-leven</a>
                                        </div>
                                    {{else if (eq text "Alcohol")}}
                                        <div style="font-weight: 400; margin: 10px 0">
                                            Meer informatie over het verminderen van alcoholgebruik vindt u op:
                                            <a href="https://www.allesoverdrinken.nl" target="_blank">www.allesoverdrinken.nl</a>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{! Mental and psychosocial factors section }}
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="font-weight: bold; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">Mentale en psychosociale factoren die uw dagelijks leven kunnen beïnvloeden</span>
                <img alt="food-icon" src="./icon/icon-brain.png" style="width: 45px; height: 45px; margin-right: 15px;"/>
            </div>

            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        {{#if (getValue "680.answer.0.valueBoolean")}}
                            <p>Mentale en psychosociale factoren kunnen uw dagelijks leven beïnvloeden. En ook een rol
                                spelen bij toename in gewicht. Dit zijn factoren die u in de vragenlijst heeft
                                aangegeven:</p>
                        {{else}}
                            <p>Op basis van uw antwoorden zijn er geen bijzonderheden op het gebied van mentale en
                                psychosociale factoren </p>
                        {{/if}}
                    </div>

                    {{#if (getValue "680.answer.0.valueBoolean")}}
                        {{#each (getValue "680.item")}}
                            {{#if valueInteger}}
                                <div class="row">
                                    <div class="title-subcase-child">
                                        <span class="checked-icon"></span>
                                        {{text}}
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>

        {{! Possible consequences section }}
        {{#if (getValue "calculation8.value")}}
            <div class="container">
                <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                    <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MOGELIJKE GEVOLGEN OVERGEWICHT</span>
                </div>
                {{#each (getValue "calculation8.item")}}
                    <div class="container-text">
                        <div class="dark-blue-container" style="background-color: #F3F7FA;">
                            <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                                {{subTitle}}
                            </div>

                            <div>
                                {{#if answer.0.item.length}}
                                    {{#if valueInteger}}
                                        <div>
                                            {{#each answer.0.item}}
                                                {{#if valueInteger}}
                                                    <div class="row">
                                                        {{#if (eq text "Slaapapneu (OSAS)")}}
                                                            <div class="title-subcase-child">
                                                                <p style="text-decoration: underline">{{text}}</p>
                                                                <div class="row" style="margin-left: 20px">
                                                                    <span>Op basis van de combinatie van uw antwoorden zou de kans op slaapapneu verhoogd kunnen zijn.</span>
                                                                </div>
                                                            </div>
                                                        {{else if (eq text "Artose")}}
                                                            <div class="title-subcase-child">
                                                                <p style="text-decoration: underline">{{text}}</p>
                                                                <div class="row" style="margin-left: 20px">
                                                                    <span>Uw antwoorden zouden kunnen passen bij artrose. Bij artrose is sprake van slijtage van een of meerdere gewrichten. Artrose kan een gevolg zijn van obesitas.</span>
                                                                </div>
                                                            </div>
                                                        {{else}}
                                                            <div class="title-subcase-child">
                                                                <p style="text-decoration: underline">{{text}}</p>
                                                            </div>
                                                            {{#each answer.0.item}}
                                                                <div class="row" style="margin-left: 20px">
                                                                    <div class="title-subcase-child">
                                                                        {{#if valueInteger}}
                                                                            <span class="checked-icon"></span>
                                                                        {{else}}
                                                                            <span class="unchecked-icon"></span>
                                                                        {{/if}}
                                                                        {{text}}
                                                                    </div>
                                                                </div>
                                                            {{/each}}
                                                        {{/if}}
                                                    </div>
                                                {{/if}}
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>

    {{! Completed results section }}
    <h2 style="font-size: 24px; color: #1399EC; font-weight: bold; text-align: left; margin: 40px 0 8px 20px;">
        Ingevulde resultaten
    </h2>

    <div style="font-size: 18px; color: #101011; font-weight: 500; margin: 10px 0 16px 20px; text-align: left;">
        Uw <strong>deelname</strong> aan de vragenlijst wordt zeer op prijs gesteld. <strong>Bedankt!</strong>
    </div>
</div> 