<div class="alogaritmh-html">
    <style type="text/css">
        // ... existing styles ...
    </style>
    <div class="header-title-con"
         style="text-align: justify; width: 100%; background-color: #fff; font-size: 20px; font-weight: 600; overflow: hidden; color: #000000; margin: 15px 0; box-shadow: 1px 2px 9px rgba(0,0,0,0.3); border-radius: 10px; padding: 100px 30px 30px 30px">
        <div style="color: #1399EC;width: 100%; margin-bottom: 20px;">
            <h2 style="font-weight: 600">
                Uitslag checkoorzakenovergewicht.nl
            </h2>
        </div>
        <div style="font-size: 19px;width:100%; font-weight: 400; color: #101011; line-height: normal">
            Deze vragenlijst is gemaakt voor mensen met overgewicht of ernstig overgewicht (obesitas) die een
            behandeling zijn gestart. Het doel van het invullen van de vervolg vragenlijst is om meer inzicht te krijgen
            in factoren die nu zijn veranderd. Dit resultaat kunt u delen met uw arts of zorgverlener.
        </div>
    </div>

    {{! render each case calculations }}
    <div class="grouped-containers">
        {{#with questionnaireResponse}}
            {{#each item}}
                {{#if (lookup this "text")}}
                    {{#if (lookup this "answer")}}
                        <div class="container">
                            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #92b7db; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                                <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">ALGEMENE KENMERKEN</span>
                            </div>
                            <div class="container-text">
                                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                                    {{#each item}}
                                        {{#if valueInteger}}
                                            <div class="row">
                                                <div class="title-subcase">
                                                    {{text}}
                                                </div>
                                            </div>

                                            {{#if (lookup answer.[0] "item")}}
                                                <div>
                                                    {{#each answer.[0].item}}
                                                        {{#if valueInteger}}
                                                            <div class="row">
                                                                <div>
                                                                    {{#if text}}
                                                                        <p class="title-subcase-child">
                                                                            <span class="checked-icon"></span>
                                                                            {{text}}:
                                                                        </p>
                                                                        <ul class="output-list">
                                                                            {{#each answer.[0].item}}
                                                                                {{#if valueInteger}}
                                                                                    <li>{{text}}</li>
                                                                                    <ul>
                                                                                        {{#each answer.[0].item}}
                                                                                            {{#if valueInteger}}
                                                                                                <li style="color: gray; font-weight: 400;">{{text}} <strong>{{value}}</strong> {{subTitle}}</li>
                                                                                            {{/if}}
                                                                                        {{/each}}
                                                                                    </ul>
                                                                                {{/if}}
                                                                            {{/each}}
                                                                        </ul>
                                                                    {{else}}
                                                                        <div>
                                                                            <p class="title-subcase-child">
                                                                                <span class="checked-icon"></span>
                                                                                {{text}}:
                                                                            </p>
                                                                            <ul class="output-list">
                                                                                {{#each answer.[0].item}}
                                                                                    {{#if valueInteger}}
                                                                                        <li>
                                                                                            {{text}} {{value}}
                                                                                        </li>
                                                                                    {{/if}}
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                    {{/if}}
                                                                </div>
                                                            </div>
                                                        {{/if}}
                                                    {{/each}}
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        {{/with}}

        <div>
            <p style="color: #000; border-radius: 13px; background-color: #92b7db; padding: 10px; font-size: 24px; font-weight: bold; text-align: left;">
                Mogelijke onderliggende oorzaken van overgewicht
            </p>
        </div>

        {{! Medication section }}
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #b7d0e3; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">Medicatie met een gewicht verhogende bijwerking</span>
                <img alt="food-icon" src="./icon/icon-med.png" style="width: 40px; height: 40px; margin-right: 15px"/>
            </div>

            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        {{#if questionnaireResponse.item.[450].answer.[0].valueBoolean}}
                            <p>Sommige medicijnen kunnen bijdragen aan een toename in gewicht. U gebruikt de volgende
                                medicijnen waarvan bekend is dat ze een gewichtsverhogende bijwerking kunnen hebben:</p>
                        {{else}}
                            <p>Sommige medicijnen kunnen bijdragen aan een toename in gewicht. U heeft geen medicijnen genoteerd
                                waarvan bekend is dat die een gewicht verhogende bijwerking kunnen hebben.</p>
                        {{/if}}
                    </div>

                    {{#if questionnaireResponse.item.[450].answer.[0].valueBoolean}}
                        {{#each questionnaireResponse.item.[450].item}}
                            <div>
                                {{#if answer.[0].item}}
                                    {{#each answer.[0].item}}
                                        {{#if valueInteger}}
                                            <div class="row">
                                                <div class="title-subcase-child" style="padding-top:10px">
                                                    <span class="checked-icon"></span>
                                                    <div style="font-weight:600;color:#000">
                                                        {{text}}
                                                    </div>
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            </div>
                        {{/each}}
                        <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                            <p>Het kan zinvol zijn om met uw (huis)arts te bespreken of een van deze medicijnen bij u een rol
                                kan hebben gespeeld bij uw gewicht. En of het mogelijk is deze medicatie af te bouwen of om te
                                zetten in medicatie met een gewichtsneutrale bijwerking. Let op dat u nooit zonder overleg
                                met uw arts iets aan uw medicatie (zoals de dosering) wijzigt.</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

        {{! Mental and psychosocial factors section }}
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #b7d0e3; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="font-weight: bold; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MENTALE EN PSYCHOSOCIALE FACTOREN DIE EEN ROL KUNNEN SPELEN BIJ OVERGEWICHT</span>
                <img alt="food-icon" src="./icon/icon-brain.png" style="width: 45px; height: 45px; margin-right: 15px;"/>
            </div>

            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        {{#if questionnaireResponse.item.[460].answer.[0].valueBoolean}}
                            <p>Op basis van uw antwoorden kan het zinvol zijn om met uw (huis)arts te bespreken of u baat
                                heeft bij verder onderzoek naar mentale en psychosociale factoren die een rol spelen bij het
                                ontstaan van obesitas. Deze kunnen bijvoorbeeld het hongergevoel beïnvloeden. Of zorgen
                                voor eetbuien. Dit zijn kenmerken die u in de vragenlijst heeft aangegeven:</p>
                        {{else}}
                            <p>Op basis van uw antwoorden zijn er geen bijzonderheden op het gebied van mentale en psychosociale
                                factoren </p>
                        {{/if}}
                    </div>

                    {{#if questionnaireResponse.item.[460].answer.[0].valueBoolean}}
                        {{#each questionnaireResponse.item.[460].item}}
                            {{#if answer.[0].item}}
                                {{#each answer.[0].item}}
                                    <div class="row">
                                        <div class="title-subcase-child">
                                            {{#if valueInteger}}
                                                <span class="checked-icon"></span>
                                                {{text}}
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>

        {{! Lifestyle factors section }}
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #b7d0e3; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">LEEFSTIJL FACTOREN</span>
                <img alt="food-icon" src="./icon/icon-restaurant.png" style="width: 40px; height: 40px; margin-right: 15px"/>
            </div>

            <div class="container-text">
                <div class="dark-blue-container" style="background-color: #F3F7FA;">
                    <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                        <p>Een ongezonde leefstijl kan een rol spelen bij het ontstaan van obesitas. Ook kunnen leefstijl
                            factoren de kans op bepaalde ziektes verhogen. De volgende factoren die een negatief effect
                            kunnen hebben op uw gezondheid komen bij u uit de vragenlijst: </p>
                    </div>

                    {{#each questionnaireResponse.item.[470].item}}
                        {{#if answer.[0].item}}
                            {{#each answer.[0].item}}
                                {{#if text}}
                                    <div class="title-subcase-child">
                                        <p style="text-decoration: underline">{{text}}</p>
                                        {{#unless valueBoolean}}
                                            <div class="row" style="margin-left: 20px">
                                                {{#if text}}
                                                    {{#if (lookup this "text")}}
                                                        {{#if (lookup text "Voeding")}}
                                                            <span>Er zijn op het gebied van voeding bij u geen bijzonderheden</span>
                                                        {{/if}}
                                                        {{#if (lookup text "Beweging")}}
                                                            <span>Er zijn op het gebied van beweging bij u geen bijzonderheden, u haalt de wekelijkse beweegnorm.</span>
                                                        {{/if}}
                                                        {{#if (lookup text "Alcohol")}}
                                                            <span>Er zijn op het gebied van alcohol bij u geen bijzonderheden.</span>
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            </div>
                                        {{/unless}}
                                        {{#if valueBoolean}}
                                            {{#each answer.[0].item}}
                                                {{#if valueBoolean}}
                                                    <div class="row">
                                                        <div class="title-subcase-child">
                                                            <span class="checked-icon"></span>
                                                            {{text}}
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{/each}}
                                            {{#if text}}
                                                {{#if (lookup text "Voeding")}}
                                                    <div style="font-weight: 400; margin: 10px 0">
                                                        Meer informatie over gezonde voeding vindt u op:
                                                        <a href="https://www.voedingscentrum.nl" target="_blank">www.voedingscentrum.nl</a> en de app 'Kies Ik Gezond?'
                                                    </div>
                                                {{/if}}
                                                {{#if (lookup text "Beweging")}}
                                                    <div style="font-weight: 400; margin: 10px 0">
                                                        Meer informatie over het inbouwen van beweging in uw dagelijks beweging vindt u op:
                                                        <a href="https://www.thuisarts.nl/gezond-leven" target="_blank">https://www.thuisarts.nl/gezond-leven</a>
                                                    </div>
                                                {{/if}}
                                                {{#if (lookup text "Alcohol")}}
                                                    <div style="font-weight: 400; margin: 10px 0">
                                                        Meer informatie over het verminderen van alcoholgebruik vindt u op: 
                                                        <a href="https://www.allesoverdrinken.nl" target="_blank">www.allesoverdrinken.nl</a>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        {{! Possible consequences section }}
        <div class="container">
            <div style="display: flex; align-items: center; justify-content: space-between; background-color: #92b7db; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
                <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MOGELIJKE GEVOLGEN OVERGEWICHT</span>
            </div>
            
            {{#each questionnaireResponse.item.[480].item}}
                <div class="container-text">
                    <div class="dark-blue-container" style="background-color: #F3F7FA;">
                        {{#if answer.[0].item}}
                            {{#each answer.[0].item}}
                                {{#if valueBoolean}}
                                    <div class="row">
                                        {{#if text}}
                                            <div class="title-subcase-child">
                                                <p style="text-decoration: underline">{{text}}</p>
                                                <div class="row" style="margin-left: 20px">
                                                    {{#if (lookup text "Slaapapneu (OSAS)")}}
                                                        <span>Op basis van de combinatie van uw antwoorden zou de kans op slaapapneu verhoogd kunnen zijn.</span>
                                                    {{/if}}
                                                    {{#if (lookup text "Artose")}}
                                                        <span>Uw antwoorden zouden kunnen passen bij artrose. Bij artrose is sprake van slijtage van een of meerdere gewrichten. Artrose kan een gevolg zijn van obesitas.</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            <p>Op basis van de antwoorden die u heeft gegeven, zijn er geen aanwijzingen dat u aandoeningen heeft die het gevolg zijn van overgewicht</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>

        {{! Completed results section }}
        <h2 style="font-size: 24px; color: #1399EC; font-weight: bold; text-align: left; margin: 40px 0 8px 20px;">
            Ingevulde resultaten
        </h2>

        <div style="font-size: 18px; color: #101011; font-weight: 500; margin: 10px 0 16px 20px; text-align: left;">
            Uw <strong>deelname</strong> aan de vragenlijst wordt zeer op prijs gesteld. <strong>Bedankt!</strong>
        </div>

    </div>
</div>

{{#each questionnaireResponse.item}}
    {{answer.[0].valueNumber}} - {{answer.[0].valueString}} - {{answer.[0].valueBoolean}} - {{text}} - {{@key}} - {{@index}}
    <hr>
{{/each}} 