<div class='alogaritmh-html'>
    <style type='text/css'>        .title-subcase {
            margin-top: 10px;
        }

        .page_refero__component_group > div {
            padding-bottom: 5px;
            border-bottom: 1px solid #E1E1E1;
        }

        .output-list li {
            padding: 0px !important;
            font-size: 14px !important;
        }

        .grouped-containers {
            display: flex;
            gap: 24px;
            flex-direction: column;
        }

        .container {
            margin-bottom: unset !important;
            min-height: 200px;
            display: flex;
        }

        .container-text {
            display: flex;
            flex: 1;
        }

        .formSection {
            background: rgb(255, 255, 255) !important;
        }

        @media only screen and (max-width: 900px) {
            .grouped-containers {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media only screen and (max-width: 670px) {
            .grouped-containers {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    </style>
    <div class='header-title-con'
         style='text-align: justify; width: 100%; background-color: #fff; font-size: 20px; font-weight: 600; overflow: hidden; color: #000000; margin: 15px 0; box-shadow: 1px 2px 9px rgba(0,0,0,0.3); border-radius: 10px; padding: 100px 30px 30px 30px'>
        <div style='color: #1399EC;width: 100%; margin-bottom: 20px;'><h2 style='font-weight: 600'> Result
            checkcausesobesity.com </h2></div>
        <div style='font-size: 19px;width:100%; font-weight: 400; color: #101011; line-height: normal'> This
            questionnaire is made for people who are overweight or have severe overweight (obesity). The goal of
            completing the questionnaire is to gain more understanding of the possible causes of your overweight.
            You
            can share this result with your doctor or healthcare provider. This can help your healthcare provider to
            advise and treat you better, and to possibly perform extra tests.
        </div>
    </div>
    <div>
        <div style="font-size: 30px; color: #0070a8; font-weight: 500; margin: 20px 0; text-align: left">
            Summary
        </div>

        {{! BMI conditions }}
        {{#if (getValueByCode "bmi")}}
            {{#if (compare (getValueByCode "bmi") 'lt' '18.5')}}
                <div style="display: block; text-align: left; font-size: 18px; margin-bottom: 10px">
                    Regarding your BMI, you are underweight. This questionnaire is not applicable to you.
                </div>
            {{/if}}

            {{#if (compare (getValueByCode "bmi") 'ge' '18.5')}}
                {{#if (compare (getValueByCode "bmi") 'le' '24.9')}}
                    <div style='display: block; text-align: left; font-size: 18px'> 
                        There is a normal weight <span style='font-weight: bold; margin-left: 0px; margin-right: 0px'>
                        (BMI {{getValueByCode "bmi"}} kg/m<sup>2</sup>)</span>. The following points of attention are known to increase weight:
                    </div>
                {{/if}}
            {{/if}}

            {{#if (compare (getValueByCode "bmi") 'ge' '25')}}
                {{#if (compare (getValueByCode "bmi") 'le' '30')}}
                    <div style='display: block; text-align: left; font-size: 18px'> 
                        Based on your <b style='font-weight: bold; margin-left: 5px; margin-right: 5px'>BMI {{getValueByCode "bmi"}} kg/m<sup>2</sup>)</b>, 
                        you are overweight with the following possible underlying causes
                    </div>
                {{/if}}
            {{/if}}

            {{#if (compare (getValueByCode "bmi") 'ge' '30')}}
                <div style='display: block; text-align: left; font-size: 18px'> 
                    Based on your <b style='font-weight: bold; margin-left: 5px; margin-right: 5px'>BMI ({{getValueByCode "bmi"}} kg/m<sup>2</sup>)</b>, 
                    you have obesity with the following possible underlying causes
                </div>
            {{/if}}
        {{/if}}

        {{! Summary list }}
        <ul>
            <li class='normal-text ' style='padding-left: 10px; '>
                {{#if (getValueByCode 'calchormonaal')}}
                    Hormonal causes: indications that may be consistent with <span class='first-capital ' style='display: block; '>{{getValueByCode "calchormonaal"}}</span>
                {{else}}
                    No indications for hormonal causes
                {{/if}}
            </li>
            <li class='normal-text ' style='padding-left: 10px '>
                {{#if (getValueByCode "calculation-5")}}
                    Medication-related causes: use of {{getValueByCode "calculation-5"}}
                {{else}}
                    No indications for medication-related causes
                {{/if}}
            </li>
            <li class='normal-text ' style='padding-left: 10px '>
                {{#if (getValueByCode "calculation6")}}
                    Indications for psychological or social causes
                {{else}}
                    No indications for psychological or social causes
                {{/if}}
            </li>
            <li class='normal-text ' style='padding-left: 10px '>
                {{#if (getValueByCode "calculation7")}}
                    Lifestyle-related causes: in the areas of {{getValueByCode "calculation7"}}
                {{else}}
                    No indications for lifestyle-related causes
                {{/if}}
            </li>
            <li class='normal-text ' style='padding-left: 10px '>
                {{#if (getValueByCode "calchypothalaam")}}
                    Indications for hypothalamic causes
                {{else}}
                    No indications for hypothalamic causes
                {{/if}}
            </li>
            <li class='normal-text ' style='padding-left: 10px '>
                {{#if (getValueByCode "calcgenetisch")}}
                    Indications for genetic causes
                {{else}}
                    No indications for genetic causes
                {{/if}}
            </li>
        </ul>
    </div>

    {{! Completed results section }}
    <h2 style='font-size: 24px; color: #1399EC; font-weight: bold; text-align: left; margin: 40px 0 8px 20px;'>
        Completed results
    </h2>

    <div style='font-size: 18px; color: #101011; font-weight: 500; margin: 10px 0 16px 20px; text-align: left;'>
        Your <strong>participation</strong> in the survey is greatly appreciated. <strong>Thank you!</strong>
    </div>

    {{! Possible consequences section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="background-color: #F3F7FA; color: #101011;width: 100%;padding: 10px 20px 10px 20px; font-weight: 700 !important;">POSSIBLE CONSEQUENCES OF BEING OVERWEIGHT</span>
        </div>

        {{#getChildItemsByCode "calculation8"}}
            {{#each this}}
                <div class="container-text">
                    <div class="dark-blue-container" style="background-color: #F3F7FA;">
                        <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                            {{subTitle}}
                        </div>

                        {{#if (getValue LinkId)}}
                            <div class="row">
                                {{#if (eq text "Sleep apnea (OSA)")}}
                                    <div class="title-subcase-child">
                                        <p style="text-decoration: underline">{{text}}</p>
                                        <div class="row" style="margin-left: 20px">
                                            <span>Based on the combination of your answers, your risk of sleep apnea may be increased.</span>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="title-subcase-child">
                                        <span class="checked-icon"></span>
                                        {{text}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{/getChildItemsByCode}}
    </div>

    {{! Lifestyle factors section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">LIFESTYLE FACTORS</span>
            <img alt="food-icon" src="./icon/icon-restaurant.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>

        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    <p>An unhealthy lifestyle can play a role in developing obesity. Lifestyle factors can also increase the risk of certain diseases. The following factors that can negatively affect your health come from your questionnaire:</p>
                </div>

                {{#getChildItemsByCode "lifeStyleFactors"}}
                    {{#each this}}
                        <div class="title-subcase-child">
                            <p style="text-decoration: underline">{{text}}</p>
                            {{#unless (getValue LinkId)}}
                                <div class="row" style="margin-left: 20px">
                                    {{#if (eq text "Diet")}}
                                        <span>There are no special dietary requirements for you</span>
                                    {{else if (eq text "Exercise")}}
                                        <span>There are no special requirements regarding exercise, you meet the weekly exercise standard.</span>
                                    {{else if (eq text "Alcohol")}}
                                        <span>There are no special circumstances regarding your alcohol consumption.</span>
                                    {{/if}}
                                </div>
                            {{/unless}}

                            {{#if (getValue LinkId)}}
                                {{#if item}}
                                    {{#each item}}
                                        {{#if (getValue LinkId)}}
                                            <div class="row">
                                                <div class="title-subcase-child">
                                                    <span class="checked-icon"></span>
                                                    {{text}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}

                                {{#if (eq text "Diet")}}
                                    <div style="font-weight: 400; margin: 10px 0">
                                        More information about healthy eating can be found at:
                                        <a href="https://www.voedingscentrum.nl" target="_blank">www.voedingscentrum.nl</a>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>

    {{! Hormonal causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">HORMONAL CAUSES</span>
            <img alt="food-icon" src="./icon/icon-hormonal.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValueByCode "calchormonaal")}}
                        <p>Based on your answers, the following hormonal causes may play a role in your overweight:</p>
                    {{else}}
                        <p>Based on your answers, there are no indications for hormonal causes of overweight.</p>
                    {{/if}}
                </div>

                {{#getChildItemsByCode "calchormonaal"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>

    {{! Medication causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MEDICATION-RELATED CAUSES</span>
            <img alt="food-icon" src="./icon/icon-med.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValueByCode "calculation-5")}}
                        <p>Some medications can contribute to weight gain. You use the following medications that are known to have a weight-increasing side effect:</p>
                    {{else}}
                        <p>Some medications can contribute to weight gain. You have not noted any medications that are known to have a weight-increasing side effect.</p>
                    {{/if}}
                </div>

                {{#getChildItemsByCode "calculation-5"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="row">
                                <div class="title-subcase-child" style="padding-top:10px">
                                    <span class="checked-icon"></span>
                                    <div style="font-weight:600;color:#000">{{text}}</div>
                                    {{#if item}}
                                        {{#each item}}
                                            {{#if (getValue LinkId)}}
                                                <div class="list-container" style="margin-left: 20px;display:flex">
                                                    <span class="checked-icon"></span>
                                                    <div style="font-weight:normal">{{text}}</div>
                                                </div>
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>

    {{! Mental and psychosocial factors section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="font-weight: bold; color: #101011;width: 100%;padding: 10px 20px 10px 20px;">MENTAL AND PSYCHOSOCIAL FACTORS</span>
            <img alt="food-icon" src="./icon/icon-brain.png" style="width: 45px; height: 45px; margin-right: 15px;"/>
        </div>

        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValueByCode "calculation6")}}
                        <p>Mental and psychosocial factors can play a role in the development of obesity. These are factors that you have indicated in the questionnaire that are present in your case:</p>
                    {{else}}
                        <p>Based on your answers, there are no special circumstances regarding mental and psychosocial factors.</p>
                    {{/if}}
                </div>

                {{#getChildItemsByCode "calculation6"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                    {{#if Item}}
                                        {{#each Item}}
                                            {{#if (getValue LinkId)}}
                                                {{#if (eq text "Stress_cause")}}
                                                    {{value}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>

    {{! Hypothalamic causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">HYPOTHALAMIC OBESITY</span>
            <img alt="food-icon" src="./icon/icon-brain.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValueByCode "calchypothalaam")}}
                        <p>Based on your answers, it might be useful to discuss with your doctor whether you should have further tests for hypothalamic obesity. The following features may fit with hypothalamic obesity:</p>
                    {{else}}
                        <p>Based on your answers, there are no signs of hypothalamic obesity.</p>
                    {{/if}}
                </div>

                {{#getChildItemsByCode "calchypothalaam"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>

    {{! Genetic causes section }}
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F3F7FA; padding: 10px 20px; border-radius: 15px 15px 0px 0px;">
            <span class="case-title" style="color: #101011;width: 100%;padding: 10px 20px 10px 20px;">GENETIC OBESITY</span>
            <img alt="food-icon" src="./icon/icon-cell.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="container-text">
            <div class="dark-blue-container" style="background-color: #F3F7FA;">
                <div class="subTitle" style="margin-top: 0 !important; padding: 10px 15px">
                    {{#if (getValueByCode "calcgenetisch")}}
                        <p>Genetic obesity is a rare type of obesity. Based on your answers, it might be useful to discuss with your doctor whether you should have further tests for a genetic form of obesity. The following features may fit with genetic obesity:</p>
                    {{else}}
                        <p>Based on your answers, there are no signs of a genetic type of obesity.</p>
                    {{/if}}
                </div>

                {{#getChildItemsByCode "calcgenetisch"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="row">
                                <div class="title-subcase-child">
                                    <span class="checked-icon"></span>
                                    {{text}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            </div>
        </div>
    </div>
</div>