{{! Supported helper:
- date: get today date with format (DD-MM-YYYY)
}}

{{! Supported data object:
- data.calchormonaal => Hormonale oorzaken
- data.calchypothalaam => Hyphothalam
- data.calcgenetisch => Syndromale obesitas
- data.calculation5 => Medicamentus
- data.calculation6 => PSYCHISCH
- data.calculation7 => LEEFSTIJL GERELATEERD
- data.calculation8 => Mogelijke
}}

<style type="text/css">
    .normal-text {
        font-size: 18px
    }

    .header-text {
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        letter-spacing: 0.01px;
        background-color: #EAF2F8;
        padding: 10px 20px;
    }

    .header-text,
    .summary-container {
        page-break-inside: avoid;
    }

    .summary-container {
        background-color: #F3F7FA;
        padding: 10px 20px;
        font-weight: 500;
        width: 100%;
        overflow: visible !important;
        font-size: 18px
    }

    .list-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        align-items: flex-start;
        font-size: 18px;
    }

    .list-container > img {
        margin-top: 2px;
        display: block;
        page-break-inside: avoid;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        border: 0.5px solid black;
        font-weight: 500;
    }

    tr {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    thead tr {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .questions-table tr {
        page-break-inside: avoid;
    }

    .first-capital::first-letter {
        text-transform: uppercase;
    }

    .first-capital:first-letter {
        text-transform: uppercase;
    }
</style>

<div style="display: flex; justify-content:flex-end">
    <b>Completed on: {{#helper}}{{date}}{{/helper}}</b>
</div>

{{! Header section }}
<div style="display: flex; flex-direction: row; justify-content: center; padding: 0 20px; overflow: hidden; flex-wrap: wrap; letter-spacing: 0.01px;">
    <div style="display: flex; flex: 0.3;min-width: 200px; max-width: 280px; align-items: center; justify-content: flex-start;">
        <img src="images/coo_new.png" alt="coologo" style="max-width: 100%; height: auto; padding: 20px" />
    </div>
    <div style="display: flex; flex: 1.7; flex-direction: column; align-items: flex-start; justify-content: center; padding-left: 10px; flex-wrap: wrap;width:100%;">
        <div style="font-size: 26px; color: #0070a8; font-weight: 600; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;width:100%;text-align: left;">
            Result checkcausesobesity.com
        </div>
    </div>
</div>

{{! Body paragraph }}
<div style="text-align: left; margin-top: 20px; letter-spacing: 0.01px; font-family: sans-serif;">
    <div style="font-size: 18px">
        This questionnaire is made for people who are overweight or have severe overweight (obesity). The goal of
        completing the questionnaire is to gain more understanding of the possible causes of your overweight. You can
        share this result with your doctor or healthcare provider. This can help your healthcare provider to advise and
        treat you better, and to possibly perform extra tests.
    </div>

    {{! Horizontal line }}
    <div style="border-top: 1px solid #0070a8; width: 100%; margin: 40px 0" />

    {{! Summary section }}
    <div style="font-size: 30px; color: #0070a8; font-weight: 500; margin: 20px 0">
        Summary
    </div>

    {{! BMI section }}
    {{#if (getValueByCode "bmi")}}
        {{#if (compare (getValueByCode "bmi") 'lt' '18.5')}}
            <div style="display: block; text-align: left; font-size: 18px; margin-bottom: 10px">
                Your BMI is underweight. This questionnaire does not apply to you.
            </div>
        {{else if (and (compare (getValueByCode "bmi") 'ge' '18.5') (compare (getValueByCode "bmi") 'le' '24.9'))}}
            <div style="display: flex; align-items: center; font-size: 18px; gap: 4px;">
                There is a normal weight <span>(BMI {{getValueByCode "bmi"}} kg/m<sup>2</sup>)</span>. 
                The following points of attention are known to increase weight:
            </div>
        {{else if (and (compare (getValueByCode "bmi") 'ge' '25') (compare (getValueByCode "bmi") 'le' '30'))}}
            <div style="display: flex; align-items: center; font-size: 18px; gap: 4px;">
                Based on your <b style="font-weight: bold">BMI ({{getValueByCode "bmi"}} kg/m<sup>2</sup>)</b>, 
                you are overweight with the following possible underlying causes
            </div>
        {{else if (compare (getValueByCode "bmi") 'ge' '30')}}
            <div style="display: flex; align-items: center; font-size: 18px; gap: 4px;">
                Based on your <b style="font-weight: bold">BMI ({{getValueByCode "bmi"}} kg/m<sup>2</sup>)</b>, 
                you have obesity with the following possible underlying causes
            </div>
        {{/if}}

        {{#unless (compare (getValueByCode "bmi") 'lt' '18.5')}}
            <ul>
                {{#if (getValueByCode "calchormonaal")}}
                    <li class="normal-text" style="padding-left: 10px;">
                        Hormonal causes: signs that could fit with {{getValueByCode "calchormonaal"}}
                    </li>
                {{/if}}

                {{#if (getValueByCode "calculation5")}}
                    <li class="normal-text" style="padding-left: 10px;">
                        Medication causes: use of {{getValueByCode "calculation5"}}
                    </li>
                {{/if}}
            </ul>
        {{/unless}}
    {{/if}}

    <div class="grouped-containers">
        {{! Hormonal causes section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>HORMONAL CAUSES</span>
            <img alt="food-icon" src="icon/icon-thyroid.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calchormonaal")}}
                <p>A slow working thyroid is rarely the cause of weight gain. Sometimes it can still be useful to test for this. Based on your answers, this might be useful in your case.</p>
            {{else}}
                <p>Based on your answers, there are no signs of a slow working thyroid as a cause of your weight gain.</p>
            {{/if}}

            {{#getChildItemsByCode "calchormonaal"}}
                {{#each this}}
                    {{#if (getValue LinkId)}}
                        <div class="list-container">
                            <img src="images/rightIconSvg.png" alt="check"/>
                            <div>{{text}}</div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/getChildItemsByCode}}
        </div>

        {{! Medication causes section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>MEDICATION CAUSES</span>
            <img alt="food-icon" src="icon/icon-med.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calculation5")}}
                <p>Some medications can contribute to weight gain. You have indicated that you use(d) the following medications that are known to have a weight-increasing side effect:</p>
                {{#getChildItemsByCode "calculation5"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="list-container">
                                <img src="images/rightIconSvg.png" alt="check"/>
                                <div>{{text}}</div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            {{else}}
                <p>Some medications can contribute to weight gain. You have not noted any medications that are known to have a weight-increasing side effect.</p>
            {{/if}}
        </div>

        {{! Mental and psychosocial factors section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>MENTAL AND PSYCHOSOCIAL FACTORS</span>
            <img alt="food-icon" src="icon/icon-brain.png" style="width: 45px; height: 45px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calculation6")}}
                <p>Mental and psychosocial factors can influence your daily life. And also play a role in weight gain. These are factors that you have indicated in the questionnaire:</p>
                {{#getChildItemsByCode "calculation6"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="list-container">
                                <img src="images/rightIconSvg.png" alt="check"/>
                                <div>
                                    {{text}}
                                    {{#if (eq text "Stress_cause")}}
                                        {{value}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            {{else}}
                <p>Based on your answers, there are no special features in the area of mental and psychosocial factors.</p>
            {{/if}}
        </div>

        {{! Lifestyle factors section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>LIFESTYLE FACTORS</span>
            <img alt="food-icon" src="images/icon-restaurant.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calculation7")}}
                <p>An unhealthy lifestyle can play a role in the development of obesity. Lifestyle factors can also increase the risk of certain diseases. The following factors that can have a negative effect on your health come from your questionnaire:</p>
                {{#getChildItemsByCode "calculation7"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="list-container">
                                <img src="images/rightIconSvg.png" alt="check"/>
                                <div>{{text}}</div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            {{else}}
                <p>Based on your completed answers in the questionnaire, there are no lifestyle factors that emerge that could have a negative effect on your health.</p>
            {{/if}}
        </div>

        {{! Hypothalamic obesity section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>HYPOTHALAMIC OBESITY</span>
            <img alt="food-icon" src="icon/icon-head.png" style="width: 45px; height: 45px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calchypothalaam")}}
                <p>Hypothalamic obesity is a rare cause of obesity. It is caused by damage to brain areas which are important for hunger and feeling full. Based on your answers, it might be useful to talk to your doctor about whether you should have further tests to check for a hypothalamic cause of obesity.</p>
                {{#getChildItemsByCode "calchypothalaam"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="list-container">
                                <img src="images/rightIconSvg.png" alt="check"/>
                                <div>{{text}}</div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            {{else}}
                <p>Based on your answers, there are no signs of a hypothalamic cause of obesity (a type of obesity due to damage to an area in the brain).</p>
            {{/if}}
        </div>

        {{! Genetic obesity section }}
        <div class="header-text" style="display: flex; align-items: center; justify-content: space-between;">
            <span>GENETIC OBESITY</span>
            <img alt="food-icon" src="icon/icon-cell.png" style="width: 40px; height: 40px; margin-right: 15px"/>
        </div>
        <div class="summary-container">
            {{#if (getValueByCode "calcgenetisch")}}
                <p>Genetic obesity is a rare type of obesity. Based on your answers, it might be useful to discuss with your doctor whether you should have further tests for a genetic form of obesity. The following features may fit with genetic obesity:</p>
                {{#getChildItemsByCode "calcgenetisch"}}
                    {{#each this}}
                        {{#if (getValue LinkId)}}
                            <div class="list-container">
                                <img src="images/rightIconSvg.png" alt="check"/>
                                <div>{{text}}</div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/getChildItemsByCode}}
            {{else}}
                <p>Based on your answers, there are no signs of a genetic type of obesity.</p>
            {{/if}}
        </div>

        {{! Possible consequences section }}
        {{#if (getValueByCode "calculation8")}}
            <div class="header-text">POSSIBLE CONSEQUENCES OF BEING OVERWEIGHT</div>
            {{#getChildItemsByCode "calculation8"}}
                {{#each this}}
                    <div class="summary-container">
                        <div style="margin-top: 0 !important;">
                            {{subTitle}}
                        </div>

                        {{#if (getValue LinkId)}}
                            <div>
                                <p style="text-decoration: underline">{{text}}</p>
                                {{#if (eq text "Sleep apnea (OSA)")}}
                                    <div style="margin-left: 20px">
                                        <span>Based on the combination of your answers, your risk of sleep apnea may be increased.</span>
                                    </div>
                                {{else if (eq text "Artose")}}
                                    <div style="margin-left: 20px">
                                        <span>Your answers could fit with osteoarthritis. Osteoarthritis is wear and tear of one or more joints. Osteoarthritis can be a consequence of obesity.</span>
                                    </div>
                                {{else}}
                                    {{#each item}}
                                        {{#if (getValue LinkId)}}
                                            <div class="list-container" style="margin-left: 20px">
                                                <img src="images/rightIconSvg.png" alt="check"/>
                                                <div>{{text}}</div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            {{/getChildItemsByCode}}
        {{/if}}

        {{! Questions section }}
        {{#each questionnaireResponse.item}}
            {{#if (getValue LinkId)}}
                <p class="header-text">{{question}}</p>
                <div class="questions-table">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <th style="padding: 8px; font-weight: 500; width: 300px; max-width: 300px;">
                                    {{question}}
                                </th>
                                <td style="padding: 8px;">
                                    {{#if (getValue LinkId)}}
                                        {{answer}}
                                    {{else}}
                                        N/A
                                    {{/if}}
                                </td>
                            </tr>
                            {{#item}}
                                {{#if (getValue LinkId)}}
                                    <tr>
                                        <th style="padding: 8px; font-weight: 500; width: 300px; max-width: 300px;">
                                            <div style="margin-left: 20px; border-left: 1px solid gray; padding-left: 5px;">
                                                {{question}}
                                            </div>
                                        </th>
                                        <td style="padding: 8px;">
                                            {{#if (getValue LinkId)}}
                                                {{answer}}
                                            {{else}}
                                                N/A
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{#item}}
                                        {{#if (getValue LinkId)}}
                                            <tr>
                                                <th style="padding: 8px; font-weight: 500; width: 300px; max-width: 300px">
                                                    <div style="margin-left: 40px; border-left: 1px solid gray; padding-left: 5px;">
                                                        {{question}}
                                                    </div>
                                                </th>
                                                <td style="padding: 8px;">
                                                    {{#if (getValue LinkId)}}
                                                        {{answer}}
                                                    {{else}}
                                                        N/A
                                                    {{/if}}
                                                </td>
                                            </tr>
                                        {{/if}}
                                    {{/item}}
                                {{/if}}
                            {{/item}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/each}}

        {{! Disclaimer section }}
        <div style="border-bottom:1px solid; width:100%; margin-top: 20px"></div>
        <div style="padding: 10px; font-size:20px; font-weight: 500; width: 100%;">
            <span style="font-weight:700">DISCLAIMER AND FURTHER INFORMATION:</span>
            <span style="font-size:18px;">The results of this questionnaire do not provide a diagnosis. The questionnaire is only meant to show which possible underlying causes of overweight your combination of answers might match, based on the information provided. This should be further discussed with your doctor or healthcare provider. Never stop medication without consulting your doctor.</span>
        </div>
    </div>
</div> 