<div class="alogaritmh-html">
    <style type="text/css">        .title-subcase {
        margin-top: 10px;
    }

    .page_refero__component_group > div {
        padding-bottom: 5px;
        border-bottom: 1px solid #E1E1E1;
    }

    .output-list li {
        padding: 0px !important;
        font-size: 14px !important;
    }

    .grouped-containers {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }

    .container {
        margin-bottom: unset !important;
        min-height: 200px;
        display: flex;
    }

    .container-text {
        display: flex;
        flex: 1;
    }

    .formSection {
        background: rgb(255, 255, 255) !important;
    }

    @media only screen and (max-width: 900px) {
        .grouped-containers {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media only screen and (max-width: 670px) {
        .grouped-containers {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    </style>
    <div class="header-title-con"
         style="text-align: justify; width: 100%; background-color: #fff; font-size: 20px; font-weight: 600; overflow: hidden; color: #000000; margin: 15px 0; box-shadow: 1px 2px 9px rgba(0,0,0,0.3); border-radius: 10px; padding: 100px 30px 30px 30px">
        <div style="color: #1399EC;width: 100%; margin-bottom: 20px;"><h2 style="font-weight: 600"> Result
            checkcausesobesity.com </h2></div>
        <div style="font-size: 19px;width:100%; font-weight: 400; color: #101011; line-height: normal"> This
            questionnaire is made for people who are overweight or have severe overweight (obesity). The goal of
            completing the questionnaire is to gain more understanding of the possible causes of your overweight. You
            can share this result with your doctor or healthcare provider. This can help your healthcare provider to
            advise and treat you better, and to possibly perform extra tests.
        </div>
    </div>
    <div>
        <div style="font-size: 30px; color: #0070a8; font-weight: 500; margin: 20px 0; text-align: left"> Summary</div>

        {{#if (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325")}}

            <!--     Is Bmi low               -->
            {{#if (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") "lt" "18.5")}}
                <div style="display: block; text-align: left; font-size: 18px; margin-bottom: 10px"> Your BMI is
                    underweight.
                    This questionnaire does not apply to you.
                </div>
            {{/if}}

            <!--     Is Bmi medium               -->
            {{#if (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") 'ge' "18.5")}}
                {{#if (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") 'le' "24.9")}}
                    <div style="display: block; text-align: left; font-size: 18px"> There is a normal weight <span
                            style="font-weight: bold; margin-left: 0px; margin-right: 0px">
                        (BMI {{getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325"}} kg/m<sup>2</sup>)</span>. The following
                        points of
                        attention are
                        known to increase weight:
                    </div>
                {{/if}}
            {{/if}}

            <!--     Is Bmi high               -->
            {{#if (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") 'ge' "25")}}
                {{#if  (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") 'le' "30")}}
                    <div style="display: block; text-align: left; font-size: 18px"> Based on your <b
                            style="font-weight: bold; margin-left: 5px; margin-right: 5px">BMI {{getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325"}} kg/m<sup>2</sup>)</b>, you are overweight with the
                        following
                        possible underlying causes
                    </div>
                {{/if}}
            {{/if}}

            <!--     Is Bmi obese               -->
            {{#if (compare (getValue "5b6f10b6-f886-4fc9-a683-5fe7bb961325") 'ge' "30")}}
                <div style="display: block; text-align: left; font-size: 18px"> Based on your <b
                        style="font-weight: bold; margin-left: 5px; margin-right: 5px">BMI ({{getValue
                        "5b6f10b6-f886-4fc9-a683-5fe7bb961325"}} kg/m<sup>2</sup>)</b>, you have obesity with the
                    following
                    possible underlying causes
                </div>
            {{/if}}

            <ul>
                <li class="normal-text" style="padding-left: 10px;">
                    {{#if getValue ""}}
                        Hormonal causes: indications that may be consistent with <span class="first-capital" style="display: block;">{{summary.calchormonaal.concatenateValues}}</span>
                    {{else}}
                        No indications for hormonal causes
                    {{/if}}
                </li>
                <li class="normal-text" style="padding-left: 10px">
                    {{#if getValue ""}}
                        Medication-related causes: use of {{getValue ""}}
                    {{else}}
                        No indications for medication-related causes
                    {{/if}}
                </li>
                <li class="normal-text" style="padding-left: 10px">
                    {{#if getValue ""}}
                        Indications for psychological or social causes
                    {{else}}
                        No indications for psychological or social causes
                    {{/if}}
                </li>
                <li class="normal-text" style="padding-left: 10px">
                    {{#if getValue ""}}
                        Lifestyle-related causes: in the areas of {{getValue ""}}
                    {{else}}
                        No indications for lifestyle-related causes
                    {{/if}}
                </li>
                <li class="normal-text" style="padding-left: 10px">
                    {{#if getValue ""}}
                        Indications for hypothalamic causes
                    {{else}}
                        No indications for hypothalamic causes
                    {{/if}}
                </li>
                <li class="normal-text" style="padding-left: 10px">
                    {{#if getValue ""}}
                        Indications for genetic causes
                    {{else}}
                        No indications for genetic causes
                    {{/if}}
                </li>
            </ul>
        {{/if}}
    </div>
</div>